@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 17, 17, 17;
  --background-end-rgb: 17, 17, 17;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.7);
  }

  70% {
    box-shadow: 0 0 0 15px rgba(0, 255, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0);
  }
}

.animate-pulse-glow {
  animation: pulseGlow 2s infinite;
}